<!-- CONTENT ENDS HERE -->
  </main> <!-- end of id=main -->

  <!-- if we're in an iframe -->
  <script>
    if (window.self != window.top) {
      a = document.getElementsByClassName("the-nav")
      a.forEach(i => i.style.display = "none")
    }
  </script>

  <!-- <script src="/libs/vela/metisMenu.min.js"></script> -->
  <!-- <script src="/libs/vela/slideout.min.js"></script> -->
  {{ if hasmath }}
    {{ insert foot_katex.html }}
  {{ end }}
  {{ if hascode }}
    {{ insert foot_highlight.html }}
  {{ end }}
</body>
</html>
